Linux/serviceAccount.json
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
/Android/AndroidTV/app/HU_BIST/.idea
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/AndroidProjectSystem.xml
