Linux/serviceAccount.json
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
/Android/AndroidTV/app/HU_BIST/.idea
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/AndroidProjectSystem.xml

/Android/AndroidTV/app/HU_BIST/app/build
/Android/AndroidTV/app/HU_BIST/.gradle
Android/AndroidTV/app/HU_BIST/local.properties
Android/AndroidTV/app/HU_BIST/build/reports/problems/problems-report.html
/Android/AndroidTV/TestApp/BIST/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache
/Android/AndroidTV/TestApp/BIST/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/com/innopia/bist/model/tests
/Android/AndroidTV/TestApp/BIST/app/build
/Android/AndroidTV/TestApp/BIST/.gradle
/Android/AndroidTV/TestApp/BIST/.gradle
Android/AndroidTV/TestApp/BIST/local.properties
Android/AndroidTV/TestApp/BIST/local.properties
*.properties
Android/AndroidTV/TestApp/BIST/local.properties
Android/AndroidTV/TestApp/BIST/local.properties
/Android/AndroidTV/TestApp/BIST/.idea
/Android/AndroidTV/app/BIST/.idea
/Android/AndroidTV/app/BIST/app/build
/Android/AndroidTV/app/BIST/.gradle/8.10.2
/Android/AndroidTV/app/BIST/.gradle
/Android/AndroidTV/TestApp/BIST/build
/Android/AndroidTV/TestApp/BIST/gradle
.DS_Store
