Linux/serviceAccount.json
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
Android/AndroidTV/app/HU_BIST/.idea/misc.xml
/Android/AndroidTV/app/HU_BIST/.idea
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/vcs.xml
Android/AndroidTV/app/HU_BIST/.idea/AndroidProjectSystem.xml
Android/AndroidTV/TestApp/BIST/gradlew
Android/AndroidTV/TestApp/BIST/gradlew.bat
Android/AndroidTV/TestApp/BIST/settings.gradle.kts
Android/AndroidTV/TestApp/BIST/gradle.properties
Android/AndroidTV/TestApp/BIST/build.gradle.kts
Android/AndroidTV/TestApp/BIST/gradle/libs.versions.toml
Android/AndroidTV/TestApp/BIST/gradle/wrapper/gradle-wrapper.jar
Android/AndroidTV/TestApp/BIST/gradle/wrapper/gradle-wrapper.properties
Android/AndroidTV/TestApp/BIST/.idea/.name
Android/AndroidTV/TestApp/BIST/.idea/appInsightsSettings.xml
Android/AndroidTV/TestApp/BIST/.idea/compiler.xml
Android/AndroidTV/TestApp/BIST/.idea/deploymentTargetSelector.xml
Android/AndroidTV/TestApp/BIST/.idea/gradle.xml
Android/AndroidTV/TestApp/BIST/.idea/migrations.xml
Android/AndroidTV/TestApp/BIST/.idea/misc.xml
Android/AndroidTV/TestApp/BIST/.idea/runConfigurations.xml
Android/AndroidTV/TestApp/BIST/.idea/vcs.xml
Android/AndroidTV/TestApp/BIST/app/build.gradle.kts
Android/AndroidTV/TestApp/BIST/app/proguard-rules.pro
/Android/AndroidTV/app/HU_BIST/app/build
/Android/AndroidTV/app/HU_BIST/.gradle
Android/AndroidTV/app/HU_BIST/local.properties
Android/AndroidTV/app/HU_BIST/build/reports/problems/problems-report.html
