.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

.idea/
.vscode/
*.iml

.firebase/

functions/node_modules/
functions/.runtimeconfig.json

*.log
*.lock

.env
.env.local
service-account.json
service-account.*.json
firebase-service-account.json

test_sample/.cache/

