<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.innopia.bist.ver2"
    android:versionCode="2"
    android:versionName="14.0.1">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:enabled="true" android:exported="true"
        android:extractNativeLibs="false" android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:ignore="MissingTvBanner">

    <activity android:name="com.innopia.bist.ver2.MainActivity"
        android:configChanges="keyboard|keyboardHidden|navigation|orientation|
				screenLayout|screenSize|smallestScreenSize"
        android:enabled="true" android:exported="true"
        tools:ignore="NewApi">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    </application>

</manifest>